* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gainsboro;
  position: relative;
  height: 100vh;
}

#paper {
  position: absolute;
  height: 900px;
  width: 850px;
  background-color: aqua;
  left: 50%; /* relative to nearest positioned ancestor or body element */
  top: 50%; /*  relative to nearest positioned ancestor or body element */

  transform: translate(-50%, -50%); /* relative to element's height & width */
}
